body{
    background-image: url(https://www.iliketowastemytime.com/sites/default/files/minimal-cold-space-hd-wallpaper.jpg);
   background-size: 100vw 100vh;
    font-family: Arial;
  }
  
  .menu li{
    list-style: none;
  }
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  a {
    text-decoration: none;
    color: #00FFFF;
    font-family: times;
  }
  a:hover {
    text-decoration: underline;
  }
  .site-title{
    text-align: center;
    color: #C0C0C0;
    font-family: courier;
  }
  .site-subtitle{
    color: white;
    font-style: italic;
    text-align: center;
  }
  